* {
  box-sizing: border-box;
  
}
.page-title {
  text-align: center;
  font-size: 3rem;
  margin-top: 1rem;
}

.form-heading {
  margin-top: 4rem;
  margin-left: 5rem;
}

.query-form {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  margin-top: 1rem;
  margin-left: 4rem;
  align-items: flex-start;
}

.query-form-input {
  border-radius: 10px;
  margin-bottom: 2rem;
  height: 2.5rem;
}

.query-form-btn {
  height: 2.5rem;
}

.space-img-wrapper {
  display: inline-block;
  height: 40vh;
  margin: 0.25rem;
  position: relative;
  width: 31vw;
}
.space-img-wrapper:hover {
  transform: scale(1.02);
}

.space-img {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;

  object-fit: cover;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.space-img:hover {
  box-shadow: rgba(60, 64, 67, 0.8) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.85) 0px 1px 3px 1px;
}

/* Text overlay (over image) */
.c {
  background-color: rgba(200, 204, 207, 0.75);
  bottom: 0.01rem;
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 1rem;
  position: absolute;
  text-align: center;
  width: 100%;
}

.pagination {
  justify-content: center;
}
.pagination-btn {
  padding: 1rem;
  margin: 0.15rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .page-title {
    margin: 2rem 1rem;
  }

  .form-heading {
    margin: 2rem 1rem;
    text-align: center;
  }
  .query-form {
    flex-direction: column;
    margin: 1rem;
    align-items: stretch;
  }
  .space-img-lst {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
  }
  .space-img-wrapper {
    width: calc(50% - 0.5rem); /* Two images per row with gap in between */
    height: 25vh; /* Slightly reduced height for better proportions */
    margin: 0;
  }
  .space-img-wrapper:hover {
    transform: scale(1.02);
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 576px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 768px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 992px) {
}
